<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Layout</title>

        <script type="text/javascript" th:src="${urls.getForLookupPath('/jquery-3.3.1.min.js') }"></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="https://github.com/ultraq/thymeleaf-layout-dialect">Thymeleaf - Layout </a>
                    <ul class="nav">
                        <li><a th:href="@{/}" href="messages.html"> Messages </a></li>
                    </ul>
                </div>
            </div>
            <h1 layout:fragment="header">Layout</h1>
            <div>${urls.getForLookupPath('/jquery-3.3.1.min.js') } </div>
            <div class="panel-body" th:text="${ urls.getForLookupPath('/jquery-3.3.1.min.js') }"></div>
            <div layout:fragment="content">Fake content</div>
        </div>
    </body>
</html>